* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.building {
  height: 600px;
  width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  border-radius: 20px;
}

#elevator {
  background-color: black;
  height: 200px;
  width: 50%;
  border-radius: 20px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 2s ease-in-out;
}


.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 16px;
  font-weight: 600;
  background-color: aqua;
  margin-left: 20px;
}

.floor1,
.floor2,
.floor3 {
  height: 33.33%;
  width: 100%;
}
.floor1 {
  background-color: blue;
}
.floor2 {
  background-color: rgb(61, 61, 175);
}
.floor3 {
  background-color: rgb(156, 156, 243);
}
